*gradle* @itaihanski @shilgapira @asafshen @nirgur
*.properties @itaihanski @shilgapira @asafshen @nirgur
package.json @itaihanski @shilgapira @asafshen @nirgur
/example/package.json @itaihanski @shilgapira @asafshen @nirgur
.nvmrc @itaihanski @shilgapira @asafshen @nirgur
