*gradle* @itaihanski @shilgapira @asafshen
*.properties @itaihanski @shilgapira @asafshen
package.json @itaihanski @shilgapira @asafshen
/example/package.json @itaihanski @shilgapira @asafshen
.nvmrc @itaihanski @shilgapira @asafshen
